[user]
	email = jjbiggins+github@biggins.tech
	name = jjbiggins
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	ignorecase = false
	excludesfile = ~/.gitignore_global
	precomposeUnicode = true
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[safe]
	directory = /opt/depot_tools
