*
!.*
.*history

.Trash
.bash_history
.zsh*
.DS_Store
.viminfo
.cfg
.bash_session/
.ssh
.passwd
.mutt*
.mono
.npm
.ms_openjdk_config
.node-gyp
.oracle*
.p2
.redhat
.snmp
.pnpm-store
.CFUserTextEncoding
.IdentityService/
.Xauthority
.android/
.angular-config.json
.anyconnect
.apis
.aspell.en.prepl
.aspell.en.pws
.boto
.bundle
.cabal
.cache
.cargo
.cfg-backup
.cisco
.cpan
.docker
.dropbox
.eclipse
.gnupg
.gradle
.ipython
.irssi
.jssc
.julia
.jupyter
.kaggle
.lemminx
.leo
.m2
.matplotlib
.mkshrc
.tagmycode
.templateengine
.thinkorswim
.vnc
.vscode
.wget-hsts
.lesshst
