.Trash
.bash_history
.zsh*
.DS_Store
.viminfo
.cfg
.bash_session/
Applications
Documents
Dowloads
Developer
Public
Movie
Pictures
Desktop/
Downloads/
Library/
Mail/
Movies/
Music/
Notes
Sites
Templates/
practice
scripts
snippets/
workspace
.bash_history
.jboss-cli-history
.jjs.history
.mysql_history
.node_repl_history
.psql_history
.python_history
.sftp_history
.sqlite_history
.ssh
.passwd
.muttrc
.mutt
.muttrc_sebis
.mono
.npm
.ms_openjdk_config
.mutt_certificates
.node-gyp
.oracle_jre_usage
.oraclesqldeveloperdatamodeler
.p2
.redhat
.snmp
.pnpm-store
.CFUserTextEncoding
.IdentityService/
.Xauthority
.a2hosting.conf
.android/
.angular-config.json
.anyconnect
.apis
.aspell.en.prepl
.aspell.en.pws
.bash_sessions
.boto
.bundle
.cabal
.cache
.cargo
.cfg-backup
.cisco
.config
.cpan
.cups
.direnvvars
.docker
.dropbox
.eclipse
.ghcup
.gnupg
.gradle
.ipython
.irssi
.jssc
.julia
.jupyter
.kaggle
.lemminx
.leo
.lldb
.local
.m2
.macports
.matplotlib
.mkshrc
.octave_hist
.pgadmin
.tagmycode
.templateengine
.thinkorswim
.vnc
.vscode
.wget-hsts
